@(eos: List[ExchangeOffice])

@import helper._

@main("BER") {
    
    <div id="actions">
        
        <form action="#" method="GET">
        <div data-role="fieldcontain">
          <label for="select-choice-c" class="select">I have:</label>
          <select name="select-choice-c" id="select-choice-c">
            <option value="standard">EUR</option>
            <option value="standard">USD</option>
          </select>
        </div>
        <div data-role="fieldcontain">
          <label for="select-choice-c" class="select">I want:</label>
          <select name="select-choice-c" id="select-choice-c">
            <option value="standard">EUR</option>
            <option value="standard">USD</option>
          </select>
        </div>
            <input type="search" id="searchbox" name="" value="" placeholder="Search by address or place...">
        </form>
        
    </div>
    
    <div class="ui-body" style="margin: 0 auto;">
    	<h1>
    		Official Rate:
    	</h1>
    	<h3>
    		EUR -> USD 1.26
    	</h3>
    </div>
    
    <ul data-role="listview" data-inset="true">
        @for(eo <- eos) {
        	<li>
        		<a href="@routes.Application.detailsEO(eo.id)" class="ui-link-inherit">
					<h3>@eo.name</h3>
					<p><strong>EUR -> USD 1.36</strong></p>
					<p class="ui-li-aside"><strong>100m</strong></p>
				</a>
			</li>
        }
    </ul>
}